.container {
    border: 1px solid black;
    border-radius: 5px;
}

tr {
    border: none;
}

th {
    border: none;
}

.table thead th {
    border: none;
}

.table td {
    border: none;
}

.deleteButton {
    border: none;
    background: none;
}

.roomMeetingsContainer {
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
}